
body {
margin: 0; /*removes the spacing between the display on your browser and maybe a div*/
}
.image
{
  background-image: url("https://images.unsplash.com/photo-1526698905402-e13b880ad864?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  position: relative;
  background-position: 50% 50%;
  height: 500px;
  background-size: cover; /*all of this constitutes ways of creating a background image on a division*/
  background-repeat: no-repeat;
  color: black;
}
.text
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%; /*all of this constitues ways of wraping your text over the bacground picture on a division*/
  transform: translate(-50%,-50%);
  color: white;
}
.text h1
{
  font-style: italic;
  font-size: 50px;
}
.div2
{
  font-style: italic;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  color: #882042;
}
.who
{
  font-family: fantasy;
  padding-left: 17%;
  word-spacing: 5px;
  padding-right: 17%;
  line-height: 1.6;
}

.who h1
{
  text-align: center;
  color: #b72a67;
  font-style: italic;
}
#p1
{
  font-size: 50px;
}
#p2
{
  line-height: 1.6;
  font-size: 20px;
}
.ul
 {
  font-size: 20px;
}
.ul h3
{
  color: #612570;
  font-style: italic;
}
.sidebar
{
  padding-left: 17%;
  word-spacing: 5px;
  padding-right: 17%;
}
.sidebar h1
 {
  color: #b72a67;
  text-align: center;
  font-style: italic;
}
.sidebar p
 {
  line-height: 1.6; /*inceses the space between lines*/
  word-spacing: 5px;/*increases the space between words*/
  font-size: 20px;
}
.ol
 {
font-size: 20px;
}
ol
{
  list-style: none; counter-reset: li /*how to color your list*/
}
li::before
{
  content: counter(li); color: #b72a67; /*how to color your list*/
  display: inline-block; width: 1em;
  margin-left: -1em
}
li
{
  counter-increment: li /*how to increment your list*/
}
.column
{
  width: 500px;
  float: left;
}
.row
 {
  padding-left: 17%;
  word-spacing: 5px;
  padding-right: 17%;
  font-size: 20px;
}
.unit
 {
  color: #ff0000;
}
.Moringa
 {
   font-style: italic;
   font-weight: bolder;
   color: #f12d2d;
 }
